<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Log" packages="ua.external.lab">
<Appenders>
<RollingFile name="RollingFile" fileName="RESOURCE/archivelog/battleLog.log"
filePattern="logs/$${date:yyyy-MM}/battle-%d{yyyy-MM-dd-HH}-%i.log.gz">
<PatternLayout>
<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p  %c{4.} [%t] %m%n</Pattern>
</PatternLayout>
<Policies>
<TimeBasedTriggeringPolicy interval="6" modulate="true"/>
<SizeBasedTriggeringPolicy size="250 MB"/>
</Policies>
</RollingFile>
</Appenders>
<Loggers>
<Root level="all">
<AppenderRef ref="RollingFile"/>
</Root>
</Loggers>
</Configuration>